/* css personalizado */
.linhaCinza {
	background: gray;
	padding-top: 50px;
	padding-bottom: 50px;
}

.linhaPersonalizada {
	background: red;
	padding-top: 10px;
	padding-bottom: 10px;
}

.linhaPreto {
	background: black;
	padding-top: 40px;
	padding-bottom: 40px;
}

.corbranco {
	color: aliceblue;
	font-size: 80px;
}

.corbranco2 {
	color: aliceblue;
	font-size: 12px;
	position:;
	bottom: 0px;
	right: 0px;
	width: 1000px;
}

.corbranco3 {
	color: aliceblue;
	font-size: 40px;
}

.linhaPreto2 {
	background: black;
}

.footer {
	width: 100%;
	position: relative;
	bottom: 0;
}

.glyphicon {
	font-size: 1.3em;
	color: #395671;
}

th.acoes {
    width: 65px;
    text-align: center;
}

td.acoes {
    text-align: center;
}

